n8n-workflows/workflow-04-monthly-report.json
{
  "name": "04 - Monthly Report (1st 9AM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "trigger",
      "name": "1st of Month 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst clientEmail = 'firebase-adminsdk-fbsvc@chaye-cafe-pos.iam.gserviceaccount.com';\nconst privateKey  = `-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDHLfS2TjLe1Qwf\\ncM9Lk1zdy25QA3PYj5QZYG4xyO4scSVazj4STaq0qh3k1CjHx9FYaWMXi8wDdc0o\\ncfw/DsFREwud3lrVbMz4Fu+uFoTMG28ALs0pQt/1zFxjEqonwo5gF/XEdzg/NeEa\\nUJykwBX9qemeq3F88Etbr2FZbcb7Uc2k9Qt7g4qva05H1bZnuVpO/+RgTitLYQtt\\nybPKGtcO3Yw0hz6qhaBnnMlJcOhby85nUiTrbJWyidTnrbE8MmHVTLzLo3lj8t6+\\n8XioZrnG+Eo/0KQDgNUCE9ezV/agifyWZLIk5Dx2xR0otv3rXRAhrM9DYqLS0nZn\\n0U+g9H0hAgMBAAECggEAI4Wmpvy7RdJpHxJXZfsaDNRDEDINbwnsN7pi7K4RDAwB\\nxXgSyeDgGOhd/Hl57GdOhp4E9iYQdG2F8Tii6/wNrg/feoA1YurMg1JT3JBXjq81\\n1KqEHF+44XVY5LJndj/UdH7RbgB1H5DUXIUT6q33Pg4XhBy/WLDiP6+/hNt3KUrU\\nvGZWKZ3oxrV/rQVFTZW2i8XSjZksfqXEs/uedB7LlvegZTJRpNURMYwwdzantFgK\\nm2wyUkQZeFrI7W6owllsa3YoAeC2T9UvVqMfurK0/xXP9fgGTX6hJaLHK6Kq7YWh\\nYXiX8CmWwyYNCv8hUH4VTKZgeOtoidEw+ar5XCOioQKBgQD0r45IFIDEg5OI6Zgk\\nZcvJNY+m6CaG4M6VsUUdttl9ilr8Oj5P/Wu5bue/xHyvVIaeut2SBfG8FDj5nCcN\\nBN5r2L1e/gK3O/kFnSt1mrdTdKzEwUUF3LLK458WbWHTQ3vmCMf4pEtbaA6S+EPV\\n0suKi9Czt85HXhUl9GGS/BXcpwKBgQDQY7lpg6h7bONe+6g63AON6a6n7f94cHro\\nHkj1DS7ITqVyFY9lq7pGJcvyfZ0pMVRHQLhCU+eU1WrvypI+6luFvLj+TmaUlh1C\\n4fBGvK3UUmihGL3QJPHQjXYNLepuAQ0PkF9dq1Fpc7YCi0yDZSdiqACd7Rfq2UeA\\n7Md0/1mo9wKBgCrAvfCUPIeZod6rSh0Z+Eh45le4enrYrt/y8Guntkq8MPefSaH6\\nWqc03KNiNpMABuGXLv3DsiA1vFrI0P3yWtanMTd21IylmvZDJwPOe7fGTCW4y1Gh\\n5U+UBAkMJaqfQPfJkv873brj7J/7ZwbmZRAZK+cq94z6wGE4WRAwobVDAoGAFOgc\\nXvCdg5x+BzZ6P0V5edBa/HANNFkci5MWQLeM3P2+7X4qP8oFyynZlz9w+AQB75AX\\nrFfcoPr0WpBZMcSzX+x6JtFYy0lwMBiY0Y/2ZJnL83WW/X3nYMQAdvwHS/gBBnG2\\nj6Azb7/zH7g3+eq5E9XFEhMKVj5sRQv8SsmfhisCgYEA7tMxKTfy7znJbAp/Pi0x\\nZJ90PyGu6oa2X7ZzPp3PwUeUE8lrCfsZKvk10crQvfHDttZDQ/bgRq1eAkDDaBAq\\ntIj5r64ZGeSM9gLB57vLuojg9yYkd44xHY4L2Vr1gcea8w4myvkP70kDpkmkJamT\\n4poutW7FVEv0CZPGpbAATMU=\\n-----END PRIVATE KEY-----\\n`;\nconst scope = 'https://www.googleapis.com/auth/datastore';\nconst now = Math.floor(Date.now() / 1000);\nconst payload = { iss: clientEmail, sub: clientEmail,\n  aud: 'https://oauth2.googleapis.com/token', iat: now, exp: now + 3600, scope };\nconst header = Buffer.from(JSON.stringify({alg:'RS256',typ:'JWT'})).toString('base64url');\nconst body   = Buffer.from(JSON.stringify(payload)).toString('base64url');\nconst sigInput = header + '.' + body;\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(sigInput);\nconst signature = sign.sign(privateKey, 'base64url');\nreturn [{json:{jwt: sigInput + '.' + signature}}];"
      },
      "id": "jwt",
      "name": "Generate JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "oauth",
      "name": "Get OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst token = $('Get OAuth Token').item.json.access_token;\nconst now = new Date();\nconst firstOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\nconst firstOfNextMonth = new Date(now.getFullYear(), now.getMonth() + 1, 1);\n\nconst [salesResp, expResp, stockResp] = await Promise.all([\n  $http.request({ method:'GET',\n    url:'https://firestore.googleapis.com/v1/projects/chaye-cafe-pos/databases/ai-studio-11604781-3243-486c-acd1-dd3729b669bf/documents/sales?pageSize=1000',\n    headers:{Authorization:'Bearer '+token} }),\n  $http.request({ method:'GET',\n    url:'https://firestore.googleapis.com/v1/projects/chaye-cafe-pos/databases/ai-studio-11604781-3243-486c-acd1-dd3729b669bf/documents/expenses?pageSize=500',\n    headers:{Authorization:'Bearer '+token} }),\n  $http.request({ method:'GET',\n    url:'https://firestore.googleapis.com/v1/projects/chaye-cafe-pos/databases/ai-studio-11604781-3243-486c-acd1-dd3729b669bf/documents/stock?pageSize=500',\n    headers:{Authorization:'Bearer '+token} })\n]);\n\n// Sales last month (we're now on 1st, so look at previous month)\nconst prevFirst = new Date(now.getFullYear(), now.getMonth() - 1, 1);\nconst prevLast  = new Date(now.getFullYear(), now.getMonth(), 1);\n\nlet revenue=0, profit=0, unitsSold=0;\nconst itemSales = {};\nfor (const d of (salesResp.documents||[])) {\n  const f = d.fields||{};\n  const ts = f.date?.timestampValue; if (!ts) continue;\n  const dt = new Date(ts);\n  if (dt < prevFirst || dt >= prevLast) continue;\n  const p = parseFloat(f.profit?.doubleValue||f.profit?.integerValue||0);\n  const u = parseFloat(f.units?.doubleValue||f.units?.integerValue||0);\n  const s = parseFloat(f.sellPrice?.doubleValue||f.sellPrice?.integerValue||0);\n  profit  += p; unitsSold += u; revenue += u*s;\n  const name = f.itemName?.stringValue||'Other';\n  itemSales[name] = (itemSales[name]||0) + u;\n}\n\nlet expenses=0;\nfor (const d of (expResp.documents||[])) {\n  const f=d.fields||{};\n  const ts=f.date?.timestampValue; if(!ts) continue;\n  const dt=new Date(ts);\n  if(dt<prevFirst||dt>=prevLast) continue;\n  expenses += parseFloat(f.amount?.doubleValue||f.amount?.integerValue||0);\n}\n\nconst netProfit = profit - expenses;\nconst topItems = Object.entries(itemSales).sort((a,b)=>b[1]-a[1]).slice(0,5);\nconst topList  = topItems.map(([n,u]) => `  🏆 ${n}: ${u} units`).join('\\n');\n\nconst monthName = prevFirst.toLocaleDateString('ur-PK',{month:'long',year:'numeric'});\nconst emoji = netProfit>=0 ? '✅' : '❌';\n\nconst msg = `📊 <b>CHAYE CAFE — Mahana Report</b>\n📅 ${monthName}\n\n━━━━━━━━━━━━━━━\n💰 Total Revenue:   Rs. ${revenue.toFixed(0)}\n📦 Total Units Sold: ${unitsSold}\n📈 Gross Profit:     Rs. ${profit.toFixed(0)}\n💸 Total Expenses:   Rs. ${expenses.toFixed(0)}\n${emoji} Net Profit:      <b>Rs. ${netProfit.toFixed(0)}</b>\n━━━━━━━━━━━━━━━\n\n🥇 Top 5 Best Sellers:\n${topList||'  (No data)'}\n\n${netProfit>=0?'🎉 Acha mahana raha! Keep it up!':'⚠️ Is mahane loss hua. Expenses dekhein!'}`;\n\nreturn [{json:{message:msg}}];\n"
      },
      "id": "process",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8284831786:AAEumveUPSNsgwAVl0Kc0gUM27lpeYDLAyc/sendMessage",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "7955481761"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            },
            {
              "name": "parse_mode",
              "value": "HTML"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "1st of Month 9AM": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Get OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OAuth Token": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}